In [1]:
import pandas as pd 
import numpy as np

# Mortality Ratios Data

In [4]:
mortality_ratios = pd.read_csv('../data/raw_data/abortion_pregnancy_death_ratios_cdc.csv')
mortality_ratios.head()

   Year   Mortality Ratio  Counts
0   1987              7.2     275
1   1988              9.4     369
2   1989              9.8     394
3   1990             10.0     415
4   1991             10.3     424

In [6]:
mortality_ratios_clean = mortality_ratios.drop(columns= ['Counts'])
mortality_ratios_clean
mortality_ratios_clean.to_csv('../data/clean_data/clean_mortality_ratios.csv')

# Maternal Mortality By Policy Index

In [7]:
policy_mat_mort = pd.read_csv('../data/raw_data/TABLE 1— Total Maternal Mortality (TMM), Maternal Mortality (MM), and Late Maternal Mortality (LMM; 2015–2018) and State-Level Covariates (2015) by Tertile of State Abortion Policy Composite Index_ United States - Sheet1.csv')
policy_mat_mort.head()

,Variable,"All States (n = 51), Mean ± SD or No. (%)","Low (n = 15), Mean ± SD or No. (%)","Moderate (n = 17), Mean ± SD or No. (%)","High (n = 19), Mean ± SD or No. (%)"
0,"TMM per 100,000 live births",24.62 ± 8.89,20.79 ± 5.25,22.04 ± 7.60,29.98 ± 9.90
1,"MM per 100,000 live births",17.78 ± 7.13,14.83 ± 3.89,15.81 ± 6.10,21.73 ± 8.21
2,"LMM per 100,000 live births",7.02 ± 2.86,6.32 ± 2.34,6.23 ± 2.73,8.25 ± 3.03
3,"Abortion policy composite index, 2015",3.75 ± 2.46,0.73 ± 0.65,3.41 ± 0.91,6.42 ± 0.71
4,Poverty (% of state population with income bel...,14.85 ± 3.17,13.81 ± 3.38,14.29 ± 2.78,16.16 ± 3.02

# Individual Policy & Maternal Mortality

In [9]:
policy = pd.read_csv('../data/raw_data/Associations Between Total Maternal Mortality (TMM), Maternal Mortality (MM), and Late Maternal Mortality (LMM) and Abortion Policies_ United States, 2015–2018 - Sheet1.csv')
policy.head()

,Variable,"TMM, ARR (95% CI)","MM, ARR (95% CI)","LMM, ARR (95% CI)"
0,Abortion policy composite index,"1.07 (1.02, 1.12)","1.02 (0.94, 1.10)","1.01 (0.95, 1.08)"
1,State abortion policies (yes vs no),NaN,NaN,NaN
2,Mandated counseling,"1.13 (0.90, 1.43)","0.98 (0.78, 1.23)","1.00 (0.77, 1.31)"
3,Waiting period,"1.16 (0.97, 1.38)","1.05 (0.77, 1.43)","0.99 (0.72, 1.36)"
4,Ultrasound requirement,"1.20 (0.96, 1.49)","1.07 (0.75, 1.52)","0.94 (0.70, 1.26)"

# Abortions by Weeks of Gestation

In [10]:
abortion_time = pd.read_csv('../data/raw_data/Number of reported abortions, by known weeks of gestation_ and reporting area of occurrence — selected reporting areas,† United States, 2019 (https___www.cdc.gov_mmwr_volumes_70_ss_ss7009a1.htm#T10_down) - Sheet1.csv')
abortion_time.head()

,State/Area,Weeks of gestation,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total abortions reported by known gestational age
0,NaN,≤6,7–9,10–13,14–15,16–17,18–20,≥21,NaN
1,NaN,No. (%)§,No. (%),No. (%),No. (%),No. (%),No. (%),No. (%),No. (% of all reported abortions)¶
2,Alabama**,"1,280 (21.3)","2,807 (46.8)","1,257 (20.9)",317 (5.3),163 (2.7),133 (2.2),46 (0.8),"6,003 (99.9)"
3,Alaska,292 (23.0),639 (50.4),271 (21.4),64 (5.0),—††,—††,0 (—),"1,269 (99.9)"
4,Arizona,"3,863 (29.5)","5,985 (45.7)","2,079 (15.9)",496 (3.8),261 (2.0),245 (1.9),168 (1.3),"13,097 (100.0)"